---
import Logo from "$comp/Logo.astro";
import type { Technology } from "$lib/technologies/types";

interface Props {
  item: Technology<string>;
}

const { item } = Astro.props;

const { label, icon, href, vibrant, invert_bg } = item;
---

<a
  id={label}
  {href}
  class=`item hover_effect${invert_bg ? ' invert_bg' : ''}`
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="content">
    <Logo name={icon} size="1.6rem" />

    <div class="label">{label}</div>
  </div>
  <div class=`bg` style=`--vibrant: ${vibrant};`></div>
</a>

<style lang="scss">
  .item {
    min-width: 0;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    box-shadow: inset 0 0 0 1px rgba(#000, 0.05);
    border-radius: calc(4rem / 4.4);
    color: inherit;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    > .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--vibrant);
      opacity: 0.2;
    }
    > .content {
      position: absolute;
      z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 0.8rem;

      > .label {
        opacity: 0.7;
        font-weight: 700;
      }
    }
    @media only screen and (max-width: 1024px) {
      height: 3.5rem;
      > .content {
        > .label {
          font-size: 0.8rem;
        }
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    .item {
      box-shadow: inset 0 0 0 1px rgba(#fff, 0.05);

      &.invert_bg {
        > .bg {
          filter: invert(1);
        }
      }
    }
  }
</style>
